<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.docconnect">

    <queries>
        <package android:name="com.google.android.gm" />
    </queries>

    <attribution
        android:tag="health_and_sensors"
        android:label="@string/attribution_label_health" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_HEALTH"/>

    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".DocConnectApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DocConnect"
        android:forceDarkAllowed="false"
        tools:targetApi="35">

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".MainActivity" android:exported="false" android:launchMode="singleTask" />
        <activity android:name=".LoginActivity" android:exported="false" />
        <activity android:name=".ForgotPasswordActivity" android:exported="false" />
        <activity android:name=".SignupActivity" android:exported="false" />
        <activity android:name=".RoleSelectionActivity" android:exported="false"/>
        <activity android:name=".ProfileCreationActivity" android:exported="false"/>
        <activity android:name=".SearchResultsActivity" android:exported="false"/>
        <activity android:name=".ChooseConsultationActivity" android:exported="false"/>
        <activity android:name=".DoctorProfileActivity" android:exported="false"/>
        <activity android:name=".BookAppointmentActivity" android:exported="false"/>
        <activity android:name=".AppointmentSuccessActivity" android:exported="false"/>
        <activity android:name=".UDChatActivity" android:launchMode="standard" android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".EditProfileActivity" android:configChanges="orientation|screenSize|keyboardHidden" android:windowSoftInputMode="adjustResize" android:exported="false" />
        <activity android:name=".EditMedicalActivity" android:exported="false" />
        <activity android:name=".BMITrackerActivity" android:exported="false" />
        <activity android:name=".AddFamilyMemberActivity" android:exported="false" />
        <activity android:name=".NotificationsActivity" android:exported="false" />
        <activity android:name=".HelpNSupportActivity" android:exported="false" />
        <activity android:name=".LegalAboutAppActivity" android:exported="false" />
        <activity android:name=".TermsActivity" android:exported="false" />
        <activity android:name=".PrivacyActivity" android:exported="false" />
        <activity android:name=".AboutUsActivity" android:exported="false" />
        <activity android:name=".DataUsageActivity" android:exported="false" />
        <activity android:name=".SpecialityActivity" android:exported="false" />
        <activity android:name=".TopDoctorsActivity" android:exported="false" />
        <activity android:name=".ArticleActivity" android:exported="false" />

        <activity android:name=".DoctorLoginActivity" android:exported="false" />
        <activity android:name=".DoctorActivePatientActivity" android:exported="false" />
        <activity android:name=".DoctorSignupActivity" android:exported="false" />
        <activity android:name=".DoctorProfileCreationActivity" android:exported="false" />
        <activity android:name=".DoctorVerificationWaitingActivity" android:exported="false" />
        <activity android:name=".DUChatsActivity" android:exported="false" />
        <activity android:name=".DoctorQualificationActivity" android:configChanges="orientation|screenSize|keyboardHidden" android:windowSoftInputMode="adjustPan" android:exported="false" />
        <activity android:name=".DoctorEditProfileActivity" android:exported="false" android:configChanges="orientation|screenSize|keyboardHidden|screenLayout|smallestScreenSize" android:hardwareAccelerated="true" android:windowSoftInputMode="adjustNothing" />
        <activity android:name=".DoctorClinicLocationActivity" android:configChanges="orientation|screenSize|keyboardHidden|screenLayout" android:hardwareAccelerated="true" android:windowSoftInputMode="adjustPan" android:exported="false" />
        <activity android:name=".DoctorSupportActivity" android:exported="false" />
        <activity android:name=".DoctorReviewsActivity" android:exported="false" />
        <activity android:name=".PastConsultationsActivity" android:exported="false" />
        <activity android:name=".DoctorReportBugActivity" android:exported="false" />
        <activity android:name=".SlotsAvailabilityActivity" android:exported="false" />
        <activity android:name=".SelectDatesActivity" android:exported="false" />
        <activity android:name=".DoctorNotificationsActivity" android:exported="false" />
        <activity android:name=".GeneratedSlotsPreviewActivity" android:exported="false" />
        <activity android:name=".CancellationReasonActivity" android:exported="false" />
        <activity android:name=".FAQsActivity" android:exported="false" />
        <activity android:name=".DoctorShareActivity" android:exported="false" />
        <activity android:name=".RateReviewActivity" android:exported="false" android:screenOrientation="portrait" />

        <activity android:name=".AdminDashboardActivity" android:exported="false" />
        <activity android:name=".AppointmentsRecordActivity" android:exported="false" />
        <activity android:name=".ComplaintsRecordActivity" android:exported="false" />
        <activity android:name=".DoctorVerificationRecordActivity" android:exported="false" />
        <activity android:name=".LicenseDetailActivity" android:exported="false" />
        <activity android:name=".UserManagementRecordActivity" android:exported="false" />
        <activity android:name=".ReportIssueActivity" android:exported="false" />
        <activity android:name=".ComprehensiveVerificationActivity" android:exported="false" />
        <activity android:name=".AdminAppointmentDetailActivity" android:exported="false" />
        <activity android:name=".AdminUserDetailsActivity" android:exported="false" />
        <activity android:name=".AdminUDComplaintActivity" android:exported="false" />

        <receiver
            android:name=".BootReceiver"
            android:enabled="true"
            android:exported="true"
            android:directBootAware="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.LOCKED_BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
                <action android:name="com.htc.intent.action.QUICKBOOT_POWERON" />
            </intent-filter>
        </receiver>

        <service
            android:name=".MyFirebaseMessagingService" android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <service
            android:name=".StepService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="health">
            <property
                android:name="android.app.PROPERTY_SPECIAL_USE_FGS_SUBTYPE"
                android:value="Step counting and fitness tracking for DocConnect" />
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@mipmap/ic_launcher_round" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="DocConnect_Channel" />

    </application>
</manifest>